extends view
include ../includes/utility.jade

block head
    style(type="text/css").
        .filesize, .username {
            color:#006699;
        }
        #statistics {
            color:#777;
            padding-left:10px;
        }
        #comments table tr {
            margin-left:0;
        }
        #comments table td {
            display:table-cell !important;
            min-height:60px;
        }
        #comments table {
            margin-bottom:20px;
            padding:0;
            overflow:hidden;
        }
        #comments {
            padding-top: 20px;
            color:#AAA;
            margin-left: 0;
        }
        #preview {
        }
        .comment-info {
            text-align:right;
        }
        .comment-message {
            width: 98%;
        }
        .comment {
            padding-left:10px;
            padding-bottom: 10px;
            padding-top: 10px;
            -webkit-box-shadow: rgba(255, 255, 255, 0.07) 1px 0 0 inset;
            -moz-box-shadow: rgba(255, 255, 255, 0.07) 1px 0 0 inset;
            box-shadow: rgba(255, 255, 255, 0.07) 1px 0 0 inset;
            border-left: 1px solid #242424;
            margin-left: 10px !important;
        }
        .imageLinks h3 {
            display:inline;
        }
        #preview-wrapper h4 {
            padding-left: 5px;
        }
        #preview-wrapper {
            display:none;
            margin-left:0px;
            padding:0;
        }
        #preview-box {
            min-height: 50px;
            background-color:#444;
            margin-bottom: 20px;
            padding: 10px;
        }
        #comments table tbody tr:nth-child(odd) {
          background-color: #3a3a3a;
          box-shadow:0 1px 4px rgba(200, 200, 200, 0.13) inset;
        }
        #comments table tbody tr:nth-child(even) {
          background-color: #373737;
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.13) inset;
        }
        .highlight {
            background-color: #555 !important;
        }
        #addComment textarea {
            height:100px;
            min-width:500px;
        }
        .comment-info {
            padding-top:10px;
        }
        @media (max-width: 767px) {
            .span12 {
                width: 99.99999998999999%;
            }
            .span2 {
                width: 14.89361702% !important;
            }
            .span10 {
                width:82.97872339599999% !important;
            }
        }
        #image img {
            max-height:600px;
        }
        .sourcelink {
            word-break: break-word;
        }
        #edit {
            padding-top:20px;
        }
        #edit, #comment-b {
            display:none;
        }
        #edit label {
            color: #fff;
            display:inline-block;
        }
        #sidebar {
            min-width:200px;
        }
        #body > div {
            padding-left: 20px;
            min-width: 600px;
        }

block nav
    mixin postsnav('')

block append sidebar
    .rule-h-bottom
    #statistics
        h3 Statistics
        span Posted&nbsp;
            mixin humane_date(image.u.toISOString())
            | &nbsp;by
            span.username &nbsp;#{image.m.u}&nbsp;
        br
        span Size:
            span.filesize #{image.m.d.w}x#{image.m.d.h} (
                mixin prettyByte(image.m.s)
                | )
        br
        if (image.d && image.d.length > 1)
            span Source:
                if (image.d.length > 23)
                    a.sourcelink(href=image.d, title=image.d) #{image.d.substr(0,23)}...
                else
                    a.sourcelink(href=image.d, title=image.d) #{image.d}
            br
        span Rating:
            -var a = ['Safe', 'Questionable', 'Explicit']
            span.rating &nbsp;#{a[image.m.r-1] || 'Unrated'}
        br
        span Score:
            span.badge #{image.s}
            if board.authenticated
                span.right
                    |Vote:&nbsp;
                    a(title="Vote Up")
                        i.icon-plus.icon-white
                    |&nbsp;
                    a(title="Vote Down")
                        i.icon-minus.icon-white
                    |&nbsp;
        br
        span Views:
            span.badge #{image.v}

block append main
    #body.span10.rule-v-left
        #image.span12.rule-h-bottom
            img(src=image.f)
            .imageLinks
                a#comment-b(href='#comments', onclick="$('#comments').show(); $('#edit').hide(); $('#edit-b').show(); $('#comment-b').hide();")
                    h3 Comments
                a#edit-b(href='#edit', onclick="$('#comments').hide(); $('#edit').show(); $('#edit-b').hide(); $('#comment-b').show();")
                    h3 Edit
                h3 &nbsp;|&nbsp;
                a(href=image.f)
                    h3 Download
        #edit.span10
            .well.span8
                form#editForm.form-horizontal(method="post", action="/post/"+image.a)
                    fieldset
                        .control-group
                            label.control-label(for="contentRating") Content Rating
                            .controls
                                select#contentRating(name="contentRating")
                                    option Safe
                                    option Questionable
                                    option Explicit
                                p.help-block Explicit tags include any sexual body parts and acts.
                        .control-group
                            label.control-label(for="source") Source
                            .controls
                                input#source(type="text", name="source")
                        .control-group
                            label.control-label(for="tags") Tags
                            .controls
                                textarea#tags.span10(name="tags")
                                    - each tag in tags
                                        | #{tag.p+", "}
                                p.help-block Tags must be comma separated
                        .control-group
                            .controls
                                button.btn.btn-primary(type="submit") Save changes

        #comments.span10
            if (comment.c.length > 0)
                table.span12.well
                    tbody.span12
                        for entry in comment.c
                            tr.span12(id="c"+entry.i)
                                td.comment-info.span2
                                    span.username #{entry.a}
                                    br
                                    mixin humane_date(entry.t.toISOString())
                                td.span10.comment
                                    .right.comment-actions
                                        a.reply(href="#", title="Reply", data-target=entry.i)
                                            i.icon-comment.icon-white
                                    .comment-message
                                        mixin parseMessage(entry.m, comment.c)

            #preview-wrapper.span8.well
                h4 Preview
                #preview-box

            #addComment.span6
                form.span12(action="/s/comment/"+image.a, method="post")
                    textarea.span12(name="message")
                    .btn-group.left
                        input.btn.btn-success(type="submit", value="Submit")
                        a.btn.btn-info#preview Preview

block append scripts
    script.
        $(function() {
            if (window.location.hash) {
                var match = /^#c\d+/;
                if (match.test(window.location.hash)) {
                    $(window.location.hash).addClass('highlight');
                }
            }
            $('#image img').click(function() {
                if ($('#image img').css('max-height') != '600px') $('#image img').css('max-height', '600px');
                else $('#image img').css('max-height', 'none');
            });
            $('.reply').click(function(){
                $('#addComment textarea').focus();
                $('#addComment textarea').val($('#addComment textarea').val()+'>>'+$(this).data('target')+' ');
                return false;
            });
            function hooklinks() {
                $('.commentlink').click(function(){
                    highlight($($(this).attr('href')).focus());
                });
            }
            hooklinks();
            function highlight(t) {
                $('.highlight').removeClass('highlight');
                t.addClass('highlight');
            }
        });
    mixin msgfilterjs('#addComment textarea', 'hooklinks();')