extends view

block head
    style(type="text/css")
        .filesize, .username {
            color:#006699;
        }
        #statistics {
            color:#777;
            padding-left:10px;
        }
        #comments table tr {
            margin-left:0;
        }
        #comments table td {
            display:table-cell !important;
            min-height:60px;
        }
        #comments table {
            margin-bottom:20px;
            padding:0;
            overflow:hidden;
        }
        #comments {
            padding-top: 20px;
            color:#AAA;
            margin-left: 0;
        }
        #preview {
        }
        .comment-info {
            text-align:right;
        }
        .comment-message {
            width: 98%;
        }
        .comment {
            padding-left:10px;
            padding-bottom: 10px;
            padding-top: 10px;
            -webkit-box-shadow: rgba(255, 255, 255, 0.07) 1px 0 0 inset;
            -moz-box-shadow: rgba(255, 255, 255, 0.07) 1px 0 0 inset;
            box-shadow: rgba(255, 255, 255, 0.07) 1px 0 0 inset;
            border-left: 1px solid #242424;
            margin-left: 10px !important;
        }
        .imageLinks h3 {
            display:inline;
        }
        #preview-wrapper h4 {
            padding-left: 5px;
        }
        #preview-wrapper {
            display:none;
            margin-left:0px;
            padding:0;
        }
        #preview-box {
            min-height: 50px;
            background-color:#444;
            margin-bottom: 20px;
            padding: 10px;
        }
        #comments table tbody tr:nth-child(odd) {
          background-color: #3a3a3a;
          box-shadow:0 1px 4px rgba(200, 200, 200, 0.13) inset;
        }
        #comments table tbody tr:nth-child(even) {
          background-color: #373737;
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.13) inset;
        }
        .highlight {
            background-color: #555 !important;
        }
        #addComment textarea {
            height:100px;
            min-width:500px;
        }
        .comment-info {
            padding-top:10px;
        }
        @media (max-width: 767px) {
            .span12 {
                width: 99.99999998999999%;
            }
            .span2 {
                width: 14.89361702% !important;
            }
            .span10 {
                width:82.97872339599999% !important;
            }
        }
        #image img {
            max-height:600px;
        }
        .sourcelink {
            word-break: break-word;
        }
        #edit {
            padding-top:20px;
        }
        #edit, #comment-b {
            display:none;
        }
        #edit label {
            color: #fff;
            display:inline-block;
        }
        #sidebar {
            min-width:200px;
        }
        #body > div {
            padding-left: 20px;
            min-width: 600px;
        }

block nav
    mixin postsnav('')

block append sidebar
    - //Modified from http://www.zachleat.com/Lib/jquery/humane.js
    - //I just removed the centuries stuff as it was unlikely to be needed here.
    - function humane_date(e){var f=[[60,"Just Now"],[90,"1 Minute"],[3600,"Minutes",60],[5400,"1 Hour"],[86400,"Hours",3600],[129600,"1 Day"],[604800,"Days",86400],[907200,"1 Week"],[2628E3,"Weeks",604800],[3942E3,"1 Month"],[31536E3,"Months",2628E3],[47304E3,"1 Year"],[31536E5,"Years",31536E3]],a=(""+e).replace(/-/g,"/").replace(/[TZ]/g," "),b=new Date,a=(b-new Date(a)+6E4*b.getTimezoneOffset())/1E3,b=" ago",d=0,c;0>a&&(a=Math.abs(a),b="");for(;c=f[d++];)if(a<c[0])return 2==c.length?c[1]+(1<d?b:""):Math.round(a/c[2])+" "+c[1]+(1<d?b:"");return e}

    - //I love closure :3
    - function prettyByte(a){var b=+Math.floor(Math.log(a)/Math.log(1024));return(a/Math.pow(1024,b)).toFixed(b?1:0)+" "+["n/a","bytes","kb","mb","gb"][isNaN(a)?0:b+1]};

    .rule-h-bottom
    #statistics
        h3 Statistics
        span Posted #{humane_date(image.u.toISOString())} by
            span.username &nbsp;#{image.m.u}&nbsp;
        br
        span Size:
            span.filesize #{image.m.d.w}x#{image.m.d.h} (#{prettyByte(image.m.s)})
        br
        if (image.d && image.d.length > 1)
            span Source:
                if (image.d.length > 23)
                    a.sourcelink(href=image.d, title=image.d) #{image.d.substr(0,23)}...
                else
                    a.sourcelink(href=image.d, title=image.d) #{image.d}
            br
        if (typeof(image.m.r) != 'undefined')
            span Rating:
                -var a = ['Safe', 'Questionable', 'Explicit']
                span.rating &nbsp;#{a[image.m.r-1]}
            br
        span Score:
            span.badge #{image.s}
            if board.authenticated
                span.right
                    |Vote:&nbsp;
                    a(title="Vote Up")
                        i.icon-plus.icon-white
                    |&nbsp;
                    a(title="Vote Down")
                        i.icon-minus.icon-white
                    |&nbsp;
        br
        span Views:
            span.badge #{image.v}

block append main
    #body.span10.rule-v-left
        #image.span12.rule-h-bottom
            img(src=image.f)
            .imageLinks
                a#comment-b(href='#comments', onclick="$('#comments').show(); $('#edit').hide(); $('#edit-b').show(); $('#comment-b').hide();")
                    h3 Comments
                a#edit-b(href='#edit', onclick="$('#comments').hide(); $('#edit').show(); $('#edit-b').hide(); $('#comment-b').show();")
                    h3 Edit
                h3 &nbsp;|&nbsp;
                a(href=image.f)
                    h3 Download
        #edit.span10
            .well.span8
                form#editForm.form-horizontal(method="post", action="/post/"+image.a)
                    fieldset
                        .control-group
                            label.control-label(for="contentRating") Content Rating
                            .controls
                                select#contentRating(name="contentRating")
                                    option Safe
                                    option Questionable
                                    option Explicit
                                p.help-block Explicit tags include any sexual body parts and acts.
                        .control-group
                            label.control-label(for="source") Source
                            .controls
                                input#source(type="text", name="source")
                        .control-group
                            label.control-label(for="tags") Tags
                            .controls
                                textarea#tags.span10(name="tags")
                                    - each tag in tags
                                        | #{tag.p+", "}
                                p.help-block Tags must be comma separated
                        .control-group
                            .controls
                                button.btn.btn-primary(type="submit") Save changes

        #comments.span10
            if (image.c.length > 0)

                //- See the block of scripts at the bottom of the page for an explanation of this
                - function parseComment(a, c){a=a.replace(/\n/g,"<br />");a=a.replace(/(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig,"<a href='$1'>$1</a>");return a=a.replace(/>>(\d+)/g,function(a,b){return'<a class="commentlink" href="#c'+b+'">@'+c[b].a+"</a>"})}

                table.span12.well
                    tbody.span12
                        for comment in image.c
                            tr.span12(id="c"+comment.i)
                                td.comment-info.span2
                                    span.username #{comment.a}
                                    br
                                    | #{humane_date(comment.t.toISOString())}
                                td.span10.comment
                                    .right.comment-actions
                                        a.reply(href="#", title="Reply", data-target=comment.i)
                                            i.icon-comment.icon-white
                                    .comment-message!= parseComment(comment.m, image.c)

            #preview-wrapper.span8.well
                h4 Preview
                #preview-box

            #addComment.span6
                form.span12(action="/s/comment/"+image.a, method="post")
                    textarea.span12(name="message")
                    .btn-group.left
                        input.btn.btn-success(type="submit", value="Submit")
                        a.btn.btn-info#preview Preview

block append scripts
    script
        $(function() {
            /*function parseReply(text) {
                //Fix line breaks
                text = text.replace(/\n/g, '<br />');

                //Linkify links - http://stackoverflow.com/questions/37684/how-to-replace-plain-urls-with-links
                var exp = /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
                text = text.replace(exp,"<a href='$1'>$1</a>");

                //Linkify Replies
                text = text.replace(/>>(\d+)/g, function(a,v) {
                    var t = $('#c'+v+' .username').html();
                    return '<a class="commentlink" href="#c'+v+'">@'+t+'</a>';
                });

                return text;
            }*/
            //Compiled form of the above
            function parseReply(a){a=a.replace(/\n/g,"<br />");a=a.replace(/(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig,"<a href='$1'>$1</a>");return a=a.replace(/>>(\d+)/g,function(a,b){var c=$("#c"+b+" .username").html();return'<a class="commentlink" href="#c'+b+'">@'+c+"</a>"})};

            if (window.location.hash) {
                var match = /^#c\d+/;
                if (match.test(window.location.hash)) {
                    $(window.location.hash).addClass('highlight');
                }
            }
            $('#image img').click(function() {
                if ($('#image img').css('max-height') != '600px') $('#image img').css('max-height', '600px');
                else $('#image img').css('max-height', 'none');
            });
            $('.reply').click(function(){
                $('#addComment textarea').focus();
                $('#addComment textarea').val($('#addComment textarea').val()+'>>'+$(this).data('target')+' ');
                return false;
            });

            $('#preview').click(function() {
                $('#preview-box').html(parseReply($('#addComment textarea').val()));
                $('#preview-wrapper').css('display', 'block');
                hooklinks();
            });
            function hooklinks() {
                $('.commentlink').click(function(){
                    highlight($($(this).attr('href')).focus());
                });
            }
            hooklinks();

            function highlight(t) {
                $('.highlight').removeClass('highlight');
                t.addClass('highlight');
            }
        });
